ecdsa
email-validator
exceptiongroup
fastapi
h11
httpcore
httpx
itsdangerous
Jinja2
jsonpointer
MarkupSafe
orjson
passlib
pyasn1
pydantic
python-dotenv
python-jose
python-multipart
PyYAML
rsa
sniffio
starlette
typing_extensions
ujson
uvicorn
watchfiles
websockets
wincertstore
zstandard
