anyio
bcrypt
boltons
brotlipy
certifi
cffi
charset-normalizer
click
colorama
conda
conda-content-trust 
conda-package-handling 
conda_package_streaming 
cryptography
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
jsonpatch
jsonpointer
MarkupSafe
menuinst
orjson
packaging
passlib
pluggy
pyasn1
pycosat
pycparser
pydantic
pyOpenSSL
PySocks
python-dotenv
python-jose
python-multipart
PyYAML
requests
rsa
ruamel.yaml
ruamel.yaml.clib
six
sniffio
starlette
toolz
tqdm
typing_extensions
ujson
urllib3
uvicorn
watchfiles
websockets
win-inet-pton
wincertstore
zstandard
